
@media print
{
    @page
    {
        size: 57mm 100mm;
    }

    body
    {
        width: 160mm;
        margin: none;
        font-family: 'Courier Prime', monospace;
        color: #777;
        font-size: 70%;
    }
    td {
        padding-top: 0.5em;
    }
    h2 {
        margin-left: 20mm;
    }
    #bottom {
        position: absolute;
        bottom: 10px;
    }
}